@model int

@{
    ViewBag.Title = "Pago Completado";
}

<h2>Pago Completado</h2>

<p>Gracias por su orden! Su numero de orden es: @Model</p>

<p>¿Qué tal si compras más música en
    @Html.ActionLink("store", "Index", "Home")
</p>
