@{
    ViewBag.Title = "Error";
}
 
<h2>Error</h2>
 
<p>Lo sentimos, ha ocurrido un error inesperado.
    <a href="javascript:history.go(-1)">Haz click aqui</a> 
    si quieres ir atrás e intentarlo de nuevo.</p>
